In [7]:
import pandas as pd
import numpy as np

In [14]:
company_review = pd.read_csv("./company_review.csv")
company_review.head()

,企業名,残業時間,有休消化率,待遇面の満足度,社員の士気,風通しの良さ,社員の相互尊重,20代成長環境,人材の長期育成,法令遵守意識,人事評価の適正感
0,株式会社極洋,16.9,36.9,3.5,3.3,2.9,2.4,3.1,2.5,3.2,2.6
1,株式会社INPEX（旧：国際石油開発帝石株式会社）,20.1,67.9,3.4,2.5,2.8,3.4,2.3,2.2,4.7,2.4
2,大和ハウス工業株式会社,35.0,38.3,3.8,2.8,2.5,2.4,3.0,2.5,3.5,4.0
3,株式会社大林組,59.4,32.0,4.1,3.6,3.4,3.8,3.2,3.3,3.9,3.0
4,鹿島建設株式会社,53.0,37.1,4.2,3.8,3.5,4.0,3.5,3.6,4.4,3.1

In [15]:
yahoo_finance = pd.read_csv("./yahoofinance_data.csv")
yahoo_finance.head()

,会社名,設立年月日,上場年月日,従業員数(単独),従業員数(連結),平均年齢,平均年収
0,トヨタ自動車(株)【7203】,1937年8月28日,1949年5月,-人,"372,434人",40.0歳,"8,580千円"
1,(株)キーエンス【6861】,1974年5月27日,1987年10月29日,"2,607人","8,380人",35.8歳,"17,510千円"
2,ソニーグループ(株)【6758】,1946年5月7日,1958年12月,"2,973人","109,700人",42.2歳,"10,440千円"
3,(株)リクルートホールディングス【6098】,1963年8月26日,2014年10月16日,138人,"47,786人",38.7歳,"9,500千円"
4,日本電信電話(株)【9432】,1985年4月1日,1987年2月9日,-人,"332,950人",41.8歳,"9,300千円"

In [16]:
basic_info = pd.read_csv("./basic_info_pref.csv")
basic_info.head()

,Unnamed: 0,株式コード,ＥＤＩＮＥＴコード,上場区分,連結の有無,資本金,提出者名,所在地,業種,提出者業種,緯度,経度,都道府県名
0,0,1301.T,E00012,上場,有,5664.0,株式会社極洋,港区赤坂三丁目３番５号,その他,水産・農林業,35.674698,139.738098,東京都
1,1,1605.T,E00043,上場,有,290809.0,株式会社ＩＮＰＥＸ,港区赤坂五丁目３番１号,その他,金属,35.673569,139.736704,東京都
2,2,1925.T,E00048,上場,有,161699.0,大和ハウス工業株式会社,大阪市北区梅田三丁目３番５号,建設・不動産,建設業,34.699580,135.492698,大阪府
3,3,1802.T,E00055,上場,有,57752.0,株式会社大林組,港区港南二丁目１５番２号,建設・不動産,建設業,35.626151,139.742060,東京都
4,4,1812.T,E00058,上場,有,81447.0,鹿島建設株式会社,港区元赤坂一丁目３番１号,建設・不動産,建設業,35.677311,139.734376,東京都

In [17]:
japanese_company_list = pd.read_csv("./japanese_company_list.csv", header=None, names = ["株式コード"])
japanese_company_list.head()

    株式コード
0  7203.T
1  6861.T
2  6758.T
3  6098.T
4  9432.T

In [18]:
current_cap = pd.read_csv("./current_cap.csv")
current_cap.head()

    株式コード     時価総額
0  4661.T  $53.22B
1  4739.T   $7.92B
2  3291.T   $6.44B
3  4704.T   $8.23B
4  9506.T   $3.56B

In [19]:
basic_info_with_review = pd.DataFrame.join(basic_info, company_review)
basic_info_with_review.head()
sorted_basic_info = pd.merge(japanese_company_list, basic_info_with_review, on="株式コード")
sorted_basic_info = pd.merge(sorted_basic_info, current_cap, on="株式コード")
sorted_basic_info.head()

,株式コード,Unnamed: 0,ＥＤＩＮＥＴコード,上場区分,連結の有無,資本金,提出者名,所在地,業種,提出者業種,...,有休消化率,待遇面の満足度,社員の士気,風通しの良さ,社員の相互尊重,20代成長環境,人材の長期育成,法令遵守意識,人事評価の適正感,時価総額
0,7203.T,98,E02144,上場,有,635401.0,トヨタ自動車株式会社,豊田市トヨタ町１番地,機械系,輸送用機器,...,87.8,4.2,3.7,3.5,4.2,3.4,4.0,4.9,3.2,$251.66B
1,6861.T,90,E01967,上場,有,30637.0,株式会社キーエンス,大阪市東淀川区東中島１－３－１４,機械系,電気機器,...,29.2,4.8,4.4,4.1,3.5,4.6,2.6,3.9,4.3,$154.37B
2,6758.T,79,E01777,上場,有,880214.0,ソニーグループ株式会社,港区港南１丁目７番１号,機械系,電気機器,...,61.0,4.1,3.7,4.1,3.7,4.1,3.0,4.6,3.8,$154.06B
3,6098.T,196,E07801,上場,有,40000.0,株式会社リクルートホールディングス,中央区銀座８－４－１７,サービス業,サービス業,...,57.3,4.1,4.4,4.4,4.1,4.7,3.1,4.0,4.1,$105.3B
4,9432.T,165,E04430,上場,有,937950.0,日本電信電話株式会社,千代田区大手町一丁目５番１号,IT,IT,...,92.3,3.3,3.0,3.7,3.5,3.6,3.2,4.9,3.0,$97.0B

In [20]:
all_data = pd.DataFrame.join(sorted_basic_info, yahoo_finance)

In [21]:
all_data.to_csv("./all_data_tmp.csv")

## ここで手動でいらないデータを削除する

In [32]:
data = pd.read_csv("./all_data_tmp.csv")
data.head()
data.isnull().sum()

Unnamed: 0    0
株式コード         0
資本金           6
提出者名          0
業種            0
提出者業種         0
残業時間          0
有休消化率         0
待遇面の満足度       0
社員の士気         0
風通しの良さ        0
社員の相互尊重       0
20代成長環境       0
人材の長期育成       0
法令遵守意識        0
人事評価の適正感      0
時価総額          0
設立年月日         0
上場年月日         0
従業員数(単独)      0
従業員数(連結)      0
平均年齢          0
平均年収          0
dtype: int64

In [33]:
# カテゴリーの種類
all_category = data["提出者業種"].values
big_category = data["業種"].values
categories = {}
for i in range(len(all_category)):
    if not big_category[i] in categories:
        categories[big_category[i]] = [all_category[i]]
    else:
        if not all_category[i] in categories[big_category[i]]:
            categories[big_category[i]].append(all_category[i])

# for category in all_category:
#     if category in categories:
#         continue
#     categories.append(category)
print(categories)
with open("category.txt", "w") as f:
    for category in categories:
        f.write('"' + category + '", ')

{'機械系': ['輸送用機器', '電気機器', '機械', '精密機器'], 'サービス業': ['サービス業'], 'IT': ['IT'], '金融・保険': ['銀行業', '保険業', 'その他金融業', '証券、商品先物取引業'], '化学・石油・石炭': ['化学', '石油・石炭製品'], '卸売・小売・食料': ['小売業', '卸売業', '食料品'], 'その他': ['その他製品', 'ゴム製品', '金属', 'ガラス・土石製品', '電気・ガス業', '水産・農林業'], '医薬品': ['医薬品'], '運輸': ['陸運業', '海運業', '空運業'], '建設・不動産': ['建設業', '不動産業']}

In [34]:
# 平均年収の処理
for i in range(len(data)):
    salary = data["平均年収"][i]
    if salary == "None":
        data["平均年収"][i] = 0
    else:
        data["平均年収"][i] = int(data["平均年収"][i].replace("千円", "").replace(",", ""))

/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/2632965651.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["平均年収"][i] = int(data["平均年収"][i].replace("千円", "").replace(",", ""))
/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/2632965651.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["平均年収"][i] = 0

In [35]:
# 平均年齢の処理
for i in range(len(data)):
    age = data["平均年齢"][i]
    if age == "None":
        data["平均年齢"][i] = 0
    else:
        data["平均年齢"][i] = float(age.replace("歳", ""))

/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/3626373785.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["平均年齢"][i] = float(age.replace("歳", ""))
/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/3626373785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["平均年齢"][i] = 0

In [36]:
# 従業員数の処理
for i in range(len(data)):
    num_of_people = data["従業員数(連結)"][i]
    if num_of_people == "None":
        data["従業員数(連結)"][i] = 0
    else:
        data["従業員数(連結)"][i] = int(data["従業員数(連結)"][i].replace("人", "").replace(",", ""))

/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/3965622198.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["従業員数(連結)"][i] = int(data["従業員数(連結)"][i].replace("人", "").replace(",", ""))
/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/3965622198.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["従業員数(連結)"][i] = 0

In [37]:
data.head()

,Unnamed: 0,株式コード,資本金,提出者名,業種,提出者業種,残業時間,有休消化率,待遇面の満足度,社員の士気,...,人材の長期育成,法令遵守意識,人事評価の適正感,時価総額,設立年月日,上場年月日,従業員数(単独),従業員数(連結),平均年齢,平均年収
0,0,7203.T,635401.0,トヨタ自動車株式会社,機械系,輸送用機器,27.0,87.8,4.2,3.7,...,4.0,4.9,3.2,$251.66B,1937年8月28日,1949年5月,None,372434,40.0,8580
1,1,6861.T,30637.0,株式会社キーエンス,機械系,電気機器,59.6,29.2,4.8,4.4,...,2.6,3.9,4.3,$154.37B,1974年5月27日,1987年10月29日,"2,607人",8380,35.8,17510
2,2,6758.T,880214.0,ソニーグループ株式会社,機械系,電気機器,34.9,61.0,4.1,3.7,...,3.0,4.6,3.8,$154.06B,1946年5月7日,1958年12月,"2,973人",109700,42.2,10440
3,3,6098.T,40000.0,株式会社リクルートホールディングス,サービス業,サービス業,36.8,57.3,4.1,4.4,...,3.1,4.0,4.1,$105.3B,1963年8月26日,2014年10月16日,138人,47786,38.7,9500
4,4,9432.T,937950.0,日本電信電話株式会社,IT,IT,20.8,92.3,3.3,3.0,...,3.2,4.9,3.0,$97.0B,1985年4月1日,1987年2月9日,None,332950,41.8,9300

In [38]:
data["設立年"] = ""
data["上場年"] = ""
for i in range(len(data)):
    date_found = data["設立年月日"][i]
    date_jojo = data["上場年月日"][i]
    
    if date_found == "None":
        data["設立年"][i] = "None"
    else:
        data["設立年"][i], _ = date_found.split("年")
        data["設立年"][i] = int(data["設立年"][i])
        
    if date_jojo == "None":
        data["上場年"][i] = "None"
    else:
        data["上場年"][i], _ = date_jojo.split("年")
        data["上場年"][i] = int(data["上場年"][i])

data = data.drop("設立年月日",axis=1)
data = data.drop("上場年月日",axis=1)

/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/3095558158.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["設立年"][i], _ = date_found.split("年")
/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/3095558158.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["設立年"][i] = int(data["設立年"][i])
/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/3095558158.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["上場年"][i], _ = date_jojo.split("年")
/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/3095558158.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["上場年"][i] = int(data["上場年"][i])
/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/3095558158.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["設立年"][i] = "None"
/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/3095558158.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["上場年"][i] = "None"

In [39]:
data.head()

,Unnamed: 0,株式コード,資本金,提出者名,業種,提出者業種,残業時間,有休消化率,待遇面の満足度,社員の士気,...,人材の長期育成,法令遵守意識,人事評価の適正感,時価総額,従業員数(単独),従業員数(連結),平均年齢,平均年収,設立年,上場年
0,0,7203.T,635401.0,トヨタ自動車株式会社,機械系,輸送用機器,27.0,87.8,4.2,3.7,...,4.0,4.9,3.2,$251.66B,None,372434,40.0,8580,1937,1949
1,1,6861.T,30637.0,株式会社キーエンス,機械系,電気機器,59.6,29.2,4.8,4.4,...,2.6,3.9,4.3,$154.37B,"2,607人",8380,35.8,17510,1974,1987
2,2,6758.T,880214.0,ソニーグループ株式会社,機械系,電気機器,34.9,61.0,4.1,3.7,...,3.0,4.6,3.8,$154.06B,"2,973人",109700,42.2,10440,1946,1958
3,3,6098.T,40000.0,株式会社リクルートホールディングス,サービス業,サービス業,36.8,57.3,4.1,4.4,...,3.1,4.0,4.1,$105.3B,138人,47786,38.7,9500,1963,2014
4,4,9432.T,937950.0,日本電信電話株式会社,IT,IT,20.8,92.3,3.3,3.0,...,3.2,4.9,3.0,$97.0B,None,332950,41.8,9300,1985,1987

In [40]:
# 時価総額の処理
for i in range(len(data)):
    data["時価総額"][i] = float(data["時価総額"][i].replace("$", "").replace("B",""))

/var/folders/b2/sz8856894cv9zhqvldw4j7780000gn/T/ipykernel_8634/4117544348.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["時価総額"][i] = float(data["時価総額"][i].replace("$", "").replace("B",""))

In [41]:
data.head()

,Unnamed: 0,株式コード,資本金,提出者名,業種,提出者業種,残業時間,有休消化率,待遇面の満足度,社員の士気,...,人材の長期育成,法令遵守意識,人事評価の適正感,時価総額,従業員数(単独),従業員数(連結),平均年齢,平均年収,設立年,上場年
0,0,7203.T,635401.0,トヨタ自動車株式会社,機械系,輸送用機器,27.0,87.8,4.2,3.7,...,4.0,4.9,3.2,251.66,None,372434,40.0,8580,1937,1949
1,1,6861.T,30637.0,株式会社キーエンス,機械系,電気機器,59.6,29.2,4.8,4.4,...,2.6,3.9,4.3,154.37,"2,607人",8380,35.8,17510,1974,1987
2,2,6758.T,880214.0,ソニーグループ株式会社,機械系,電気機器,34.9,61.0,4.1,3.7,...,3.0,4.6,3.8,154.06,"2,973人",109700,42.2,10440,1946,1958
3,3,6098.T,40000.0,株式会社リクルートホールディングス,サービス業,サービス業,36.8,57.3,4.1,4.4,...,3.1,4.0,4.1,105.3,138人,47786,38.7,9500,1963,2014
4,4,9432.T,937950.0,日本電信電話株式会社,IT,IT,20.8,92.3,3.3,3.0,...,3.2,4.9,3.0,97.0,None,332950,41.8,9300,1985,1987

In [42]:
data.to_csv("./chartmode_data.csv")